/*
 Theme Name:     Digitex-Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Digitex Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 

.header_h1 {
	font-size: 38px;
}
.header_h2 {
	font-size: 24px;
}

#Digitex-News h2{
font-family: 'fira sans';
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.3em;
    text-transform: none;
}


#small-icon img {
width:64px;
}


#digitex-partner img{
max-width: 200px;
}

/* Waitlist */

#waitlistnumbers {
margin: 0 auto;
text-align: center;
padding-top:20px;
padding-bottom:10px;
}

.waitlistnumbers {
font-size:4em;
color:#1CB7ED;
}

/* CMC */
#coinmarketcap-currency-widget > div:nth-child(1) {
    border: solid 1px white !important;
}
/* CMC Logo & Price */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(1) {
    float:left;
    width:50%;
}
/* CMC Rank etc. */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(2) {
    float:right;
    width:50%;
    margin-top:-85px;
    border-top: none !important;
}
/* CMC Powered by. */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(3) {
    border-top: none !important;
}

@media all and (max-width: 768px) {
#coinmarketcap-currency-widget > div:nth-child(1) {
    border: solid 1px white !important;
}
/* CMC Logo & Price */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(1) {
    float:left;
    width:100%;
    display:inline-block;
}
/* CMC Rank etc. */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(2) {
    float:right;
    width:100%;
    margin-top:15px;
    border-top: none !important;
        display:inline-block;
}
/* CMC Powered by. */
#coinmarketcap-currency-widget > div:nth-child(1) > div:nth-child(3) { border-top: none !important;
}
}

/* CMC footer */
.CMC-footer >  div:nth-child(1) {
   border: solid 1px #252830 !important;
}


.CMC-footer > div:nth-child(1) > div:nth-child(2) {
    color:#1CB7ED;
    border: solid 1px #252830 !important;
}

.CMC-footer > div:nth-child(1) > div:nth-child(3) {
    color:#1CB7ED;
    border: solid 1px #252830 !important;
}


/* Exchange Top */
.exchange-image {
width:100%;
height: auto;
text-align: center;
}

.exchange-image img{
width:80%;
margin-top:-30%;
}

@media only screen and (max-width: 980px) {
.exchange-image img{
width:100%;
margin-top:-10%;
}
}
@media only screen and (max-width: 700px) {
.exchange-image img{
width:100%;
margin-top:-20%;
}
}
/* Telegram */
.telegram {
	width:300px;
	height:200px;
	float: right;
	position: absolute;
bottom: 0;
right:0;
margin-right:20px;
}

.telegram-img {
	position: absolute;
	width:150px;
	padding-bottom:20px;
	margin-left: 75px;
	bottom: 0;
}

.telegram-text {
	width: 300px;
	background:white;
	colour; blue;
	position: absolute;
	bottom: 0;
  	border-radius: 10px;

}
.telegram-text p{
	padding:5px;
	text-align: center;
}

.telegram-text span {
	font-weight: bold;
}

.floating1 {  
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating1 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -25px); }
    to   { transform: translate(0, -0px); }    
}

.floating2 {  
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -10px); }
    to   { transform: translate(0, -0px); }    
}

@media screen and (max-width: 767px) {
.telegram {
	width:300px;
	height:200px;
	float: none;
	position: relative;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
.telegram-container {
background:#1CB7ED;
}
}

/*
* Remove sidebar on all archive pages
*/
.search #main-content .container::before,
.archive #main-content .container::before {
    display: none;
}
.search #left-area,
.archive #left-area {
    width: 100%;
    float: none;
    padding-right: 0;
}
.search #sidebar,
.archive #sidebar {
    display: none;
}
 
/*
* Create Mansonory styles for archive pages
*/
.search #left-area,
.archive #left-area {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 60px;
         column-gap: 60px;
}
 
.archive .et_pb_post > a,
.search .et_pb_post > a {
    margin: -20px -20px 10px;
    display: block;
}
 
.search #left-area .et_pb_post,
.archive #left-area .et_pb_post {
    overflow: hidden; /* fix for Firefox */
    page-break-inside: avoid;
    break-inside: avoid-column;
    width: 100%;
    padding: 19px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    word-wrap: break-word;
    display: inline-block;
}
 
.search #left-area .et_pb_post h2,
.archive #left-area .et_pb_post h2 {
    font-size: 18px;
}
 
.search #left-area .et_pb_post.format-link,
.search #left-area .et_pb_post.format-quote,
.search #left-area .et_pb_post.format-audio,
.archive #left-area .et_pb_post.format-link,
.archive #left-area .et_pb_post.format-quote,
.archive #left-area .et_pb_post.format-audio{
    padding: 0;
}
 
.archive .et_pb_post .et_pb_image_container,
.archive .et_pb_post .et_main_video_container,
.archive .et_pb_post .et_audio_content,
.archive .et_pb_post .et_pb_slider,
.search .et_pb_post .et_pb_image_container,
.search .et_pb_post .et_main_video_container,
.search .et_pb_post .et_audio_content,
.search .et_pb_post .et_pb_slider {
    margin: -20px -20px 10px;
}
 
.archive .et_pb_post.format-audio .et_audio_content{
    margin: 0px -38px 0px;
}
 
.archive .et_pb_post .et_pb_slider .et_pb_slide,
.search .et_pb_post .et_pb_slider .et_pb_slide {
    min-height: 180px;
}
 
.archive .pagination,
.search .pagination {
    padding: 20px 0;
}
 
/*
* Media Queries
*/
@media screen and (max-width: 980px) {
    .search #left-area,
    .archive #left-area {
        -moz-column-count: 2;
            column-count: 2;
        -moz-column-gap: 60px;
            column-gap: 60px;
    }
}
@media screen and (max-width: 767px) {
    .search #left-area,
    .archive #left-area {
        -moz-column-count: 1;
            column-count: 1;
    }
    .search .et_pb_post.format-audio .et_audio_content,
    .archive .et_pb_post.format-audio .et_audio_content{
        margin: 0;
    }
    .search #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls div.mejs-time-rail,
    .archive #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls div.mejs-time-rail,
    .search #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls .mejs-time-rail .mejs-time-total,
    .archive #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls .mejs-time-rail .mejs-time-total{
        min-width: 300px!important;
        width: 300px!important;
    }
}

/*---------------Menu CTA Button---------------*/
 
#top-menu li a:hover {opacity: 1!important;}
             
.menu-cta a {
    border: 2px solid #ffffff !important;
    padding: 12px !important;
    border-radius: 25px;
    text-align: center;
}
 
.menu-cta a:hover {
    background-color: #1DB6ED;
    color: white!important;
}
 
.et_header_style_left #et-top-navigation {
    padding-top: 16px!important;
}
 
.et_header_style_left .et-fixed-header #et-top-navigation {
    padding-top: 6px!important;
}
 
/*---------------CTA Button Color on Fixed Navigation---------------*/
 
#main-header.et-fixed-header .menu-cta a {
color: #fff !important;
}
 
/*---------------Menu CTA Button Mobile Settings---------------*/
 
@media only screen and (max-width: 980px) {
.menu-cta a {
    background-color: #1DB6ED;
    }
}
