html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
  display: block;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-image: url("img/design_landscape_endframe__fzdcev25h5im_large.jpg")
}

@media only screen and (max-width: 1068px) {
  html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
    background-size: 710px 400px;
    background-repeat: no-repeat;
    background-image: url("img/design_landscape_endframe__fzdcev25h5im_medium.jpg")
  }
}

@media only screen and (max-width: 735px) {
  html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
    background-size: 1288px 724px;
    background-repeat: no-repeat;
    background-image: url("img/design_landscape_endframe__fzdcev25h5im_small.jpg")
  }
}

@media only screen and (orientation: portrait) {
  html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
    background-image: url("img/design_portrait_endframe__e06x3h55h066_large.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 1068px) {
  html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
    background-size: 400px 710px;
    background-repeat: no-repeat;
    background-image: url("img/design_portrait_endframe__e06x3h55h066_medium.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 735px) {
  html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design, html.no-js .image-hero-static-design, html.static-fallback .image-hero-static-design, html.height-fallback .image-hero-static-design {
    background-size: 724px 1288px;
    background-repeat: no-repeat;
    background-image: url("img/design_portrait_endframe__e06x3h55h066_small.jpg")
  }
}

html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health {
  display: block;
  background-size: 1420px 800px;
  background-repeat: no-repeat;
  background-image: url("img/health_landscape_endframe__95nz63dptci6_large.jpg")
}

@media only screen and (max-width: 735px) {
  html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health {
    background-size: 1288px 724px;
    background-repeat: no-repeat;
    background-image: url("img/health_landscape_endframe__95nz63dptci6_small.jpg")
  }
}

@media only screen and (orientation: portrait) {
  html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health {
    background-size: 800px 1420px;
    background-repeat: no-repeat;
    background-image: url("img/health_portrait_endframe__d4dw8uqh0x6q_large.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 1068px) {
  html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health {
    background-size: 1420px 800px;
    background-repeat: no-repeat;
    background-image: url("img/health_portrait_endframe__d4dw8uqh0x6q_medium.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 735px) {
  html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health, html.no-js .image-hero-static-health, html.static-fallback .image-hero-static-health, html.height-fallback .image-hero-static-health {
    background-size: 724px 1288px;
    background-repeat: no-repeat;
    background-image: url("img/health_portrait_endframe__d4dw8uqh0x6q_small.jpg")
  }
}

html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
  display: block;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-image: url("img/workout_landscape_endframe__co4awf60feqa_large.jpg")
}

@media only screen and (max-width: 1068px) {
  html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
    background-size: 1420px 800px;
    background-repeat: no-repeat;
    background-image: url("img/workout_landscape_endframe__co4awf60feqa_medium.jpg")
  }
}

@media only screen and (max-width: 735px) {
  html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
    background-size: 1288px 724px;
    background-repeat: no-repeat;
    background-image: url("img/workout_landscape_endframe__co4awf60feqa_small.jpg")
  }
}

@media only screen and (orientation: portrait) {
  html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
    background-image: url("img/workout_portrait_endframe__fv0z1n8e6eqa_large.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 1068px) {
  html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
    background-size: 800px 1420px;
    background-repeat: no-repeat;
    background-image: url("img/workout_portrait_endframe__fv0z1n8e6eqa_medium.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 735px) {
  html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout, html.no-js .image-hero-static-workout, html.static-fallback .image-hero-static-workout, html.height-fallback .image-hero-static-workout {
    background-size: 724px 1288px;
    background-repeat: no-repeat;
    background-image: url("img/workout_portrait_endframe__fv0z1n8e6eqa_small.jpg")
  }
}

html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
  display: block;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-image: url("img/activity_landscape_endframe__dmr6h3ntitea_large.jpg")
}

@media only screen and (max-width: 1068px) {
  html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
    background-size: 1420px 800px;
    background-repeat: no-repeat;
    background-image: url("img/activity_landscape_endframe__dmr6h3ntitea_medium.jpg")
  }
}

@media only screen and (max-width: 735px) {
  html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
    background-size: 1288px 724px;
    background-repeat: no-repeat;
    background-image: url("img/activity_landscape_endframe__dmr6h3ntitea_small.jpg")
  }
}

@media only screen and (orientation: portrait) {
  html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
    background-image: url("img/activity_portrait_endframe__djm3tre2lowi_large.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 1068px) {
  html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
    background-size: 800px 1420px;
    background-repeat: no-repeat;
    background-image: url("img/activity_portrait_endframe__djm3tre2lowi_medium.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 735px) {
  html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity, html.no-js .image-hero-static-activity, html.static-fallback .image-hero-static-activity, html.height-fallback .image-hero-static-activity {
    background-size: 724px 1288px;
    background-repeat: no-repeat;
    background-image: url("img/activity_portrait_endframe__djm3tre2lowi_small.jpg")
  }
}

html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
  display: block;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-image: url("img/connect_landscape_endframe__fhnxmpr7j9aq_large.jpg")
}

@media only screen and (max-width: 1068px) {
  html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
    background-size: 1420px 800px;
    background-repeat: no-repeat;
    background-image: url("img/connect_landscape_endframe__fhnxmpr7j9aq_medium.jpg")
  }
}

@media only screen and (max-width: 735px) {
  html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
    background-size: 1288px 724px;
    background-repeat: no-repeat;
    background-image: url("img/connect_landscape_endframe__fhnxmpr7j9aq_small.jpg")
  }
}

@media only screen and (orientation: portrait) {
  html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
    background-image: url("img/connect_portrait_endframe__fqljdesayzmi_large.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 1068px) {
  html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
    background-size: 800px 1420px;
    background-repeat: no-repeat;
    background-image: url("img/connect_portrait_endframe__fqljdesayzmi_medium.jpg")
  }
}

@media only screen and (orientation: portrait) and (max-width: 735px) {
  html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect, html.no-js .image-hero-static-connect, html.static-fallback .image-hero-static-connect, html.height-fallback .image-hero-static-connect {
    background-size: 724px 1288px;
    background-repeat: no-repeat;
    background-image: url("img/connect_portrait_endframe__fqljdesayzmi_small.jpg")
  }
}


/* Tile section */
.jump-tile-activity .jump-tile-bg { background-image:url("img/activity_startframe__fj1n837zijee_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .jump-tile-activity .jump-tile-bg { background-image:url("img/activity_startframe__fj1n837zijee_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .jump-tile-activity .jump-tile-bg { background-image:url("img/activity_startframe__fj1n837zijee_small.jpg"); }
}

.jump-tile-connect .jump-tile-bg { background-image:url("img/connect_startframe__bt8a6vi4baaa_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .jump-tile-connect .jump-tile-bg { background-image:url("img/connect_startframe__bt8a6vi4baaa_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .jump-tile-connect .jump-tile-bg { background-image:url("img/connect_startframe__bt8a6vi4baaa_small.jpg"); }
}

.jump-tile-design .jump-tile-bg { background-image:url("img/design_startframe__ewtxlxj5t1aq_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .jump-tile-design .jump-tile-bg { background-image:url("img/design_startframe__ewtxlxj5t1aq_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .jump-tile-design .jump-tile-bg { background-image:url("img/design_startframe__ewtxlxj5t1aq_small.jpg"); }
}

.jump-tile-health .jump-tile-bg { background-image:url("img/health_startframe__e6ycdc4ck56q_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .jump-tile-health .jump-tile-bg { background-image:url("img/health_startframe__e6ycdc4ck56q_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .jump-tile-health .jump-tile-bg { background-image:url("img/health_startframe__e6ycdc4ck56q_small.jpg"); }
}

.jump-tile-workout .jump-tile-bg { background-image:url("img/workout_startframe__fr53fd04jimq_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .jump-tile-workout .jump-tile-bg { background-image:url("img/workout_startframe__fr53fd04jimq_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .jump-tile-workout .jump-tile-bg { background-image:url("img/workout_startframe__fr53fd04jimq_small.jpg"); }
}
