/* fix hl */
@media only screen and (min-width: 1068px){.section-connect .section-content-inside-connect .typography-headline-super{font-size: 79px; } }

html.ie .section-content .section-content-inside{padding-top: 80px;}

/* SCREENS */
.section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_landscape_startframe__eh4wa2d8qga6_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_landscape_startframe__eh4wa2d8qga6_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_landscape_startframe__eh4wa2d8qga6_small.jpg"); }
}
@media only screen and (orientation: portrait) {
  .section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_portrait_startframe__dnh54xrhaugm_large.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 1068px) {
  .section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_portrait_startframe__dnh54xrhaugm_medium.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 735px) {
  .section-overview-hero .hero-image .image-hero-startframe { background-image:url("img/hero_portrait_startframe__dnh54xrhaugm_small.jpg"); }
}
.section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_landscape_endframe__hrxusx1riyqi_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_landscape_endframe__hrxusx1riyqi_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_landscape_endframe__hrxusx1riyqi_small.jpg"); }
}
@media only screen and (orientation: portrait) {
  .section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_portrait_endframe__e9ggqw7rnj6m_large.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 1068px) {
  .section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_portrait_endframe__e9ggqw7rnj6m_medium.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 735px) {
  .section-overview-hero .hero-image .image-hero-fallback { background-image:url("img/hero_portrait_endframe__e9ggqw7rnj6m_small.jpg"); }
}
.section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-overview-hero .hero-logo .image-logo { background-image:url("img/hero_logo__dgpu4ee4p6gm_small_2x.jpg"); }
}

.section-design .image-hero-start-design { background-image:url("img/design_landscape_startframe__iifjb2fuizmi_large.jpg"); }
@media only screen and (max-width: 1068px) {
  .section-design .image-hero-start-design { background-image:url("img/design_landscape_startframe__iifjb2fuizmi_medium.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-design .image-hero-start-design { background-image:url("img/design_landscape_startframe__iifjb2fuizmi_small.jpg"); }
}
@media only screen and (orientation: portrait) {
  .section-design .image-hero-start-design { background-image:url("img/design_portrait_startframe__e3ept1lkw1yu_large.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 1068px) {
  .section-design .image-hero-start-design { background-image:url("img/design_portrait_startframe__e3ept1lkw1yu_medium.jpg"); }
}
@media only screen and (orientation: portrait) and (max-width: 735px) {
  .section-design .image-hero-start-design { background-image:url("img/design_portrait_startframe__e3ept1lkw1yu_small.jpg"); }
}
