/*COMPARE SECTION*/
.section-compare-grid, .page-overview .section-compare-grid {grid-template-columns: minmax(44px, 1fr) minmax(198px, 256px) minmax(2em, 1fr) minmax(198px, 256px) minmax(2em, 1fr) minmax(198px, 256px) minmax(44px, 1fr); } 
@media only screen and (min-width: 736px) and (max-width: 1068px) {.section-compare-grid, .page-overview .section-compare-grid {grid-template-columns: minmax(44px, 1fr) minmax(115px, 186px) minmax(2em, 1fr) minmax(115px, 186px) minmax(2em, 1fr) minmax(115px, 186px) minmax(44px, 1fr); } }

/*IE Fixes*/
@media only screen and (min-width: 735px) {html.ie .section-compare-grid {display: -ms-grid;-ms-grid-columns: minmax(44px, 1fr) minmax(115px, 186px) minmax(2em, 1fr) minmax(115px, 186px) minmax(2em, 1fr) minmax(115px, 186px) minmax(44px, 1fr);}}

.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_large_2x.jpg");}}
@media only screen and (max-width: 1068px) {.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_medium.jpg");}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_medium_2x.jpg");}}
@media only screen and (max-width: 735px) {.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_small.jpg");}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {.section-compare .compare-item-series-4 figure.compare-item-image, .page-overview .section-compare .compare-item-series-4 figure.compare-item-image { background-image:url("img/compare_series_4__dglrplvral8i_small_2x.jpg");}}

body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo {background-image: url("lae/watch/includes/compare-strip/images/compare_logo_series_4__bwdlr78gde3m_large.svg"); } html.no-svg body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo { background-image: url("img/compare_logo_series_4__bwdlr78gde3m_large.png"); } 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {html.no-svg body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo { background-image: url("img/compare_logo_series_4__bwdlr78gde3m_large_2x.png"); } } 
@media only screen and (max-width: 1068px) {body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo {background-image: url("img/compare_logo_series_4__bwdlr78gde3m_medium.png"); } } 
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo { background-image: url("img/compare_logo_series_4__bwdlr78gde3m_medium_2x.png"); } } 
@media only screen and (max-width: 735px) {body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo {background-image: url("img/compare_logo_series_4__bwdlr78gde3m_small.png"); } } 
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-series-4 .compare-item-logo { background-image: url("img/compare_logo_series_4__bwdlr78gde3m_small_2x.png"); } }

.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_large_2x.jpg");}}
@media only screen and (max-width: 1068px) {.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_medium.jpg");}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_medium_2x.jpg");}}
@media only screen and (max-width: 735px) {.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_small.jpg");}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {.section-compare .compare-item-nike figure.compare-item-image, .page-overview .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/compare_nike__bcwgaf39faoi_small_2x.jpg");}}

body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo {background-image: url("lae/watch/includes/compare-strip/images/compare_logo_nike__gntyeymbjvau_large.svg"); } html.no-svg body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo { background-image: url("/lae/watch/includes/compare-strip/images/compare_logo_nike__gntyeymbjvau_large.png"); } 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {html.no-svg body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo { background-image: url("img/compare_logo_nike__gntyeymbjvau_large_2x.png"); } } 
@media only screen and (max-width: 1068px) {body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo {background-image: url("img/compare_logo_nike__gntyeymbjvau_medium.png"); } } 
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo { background-image: url("img/compare_logo_nike__gntyeymbjvau_medium_2x.png"); } } 
@media only screen and (max-width: 735px) {body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo {background-image: url("img/compare_logo_nike__gntyeymbjvau_small.png"); } } 
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-nike .compare-item-logo { background-image: url("img/compare_logo_nike__gntyeymbjvau_small_2x.png"); } }

.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_large_2x.jpg");}}
@media only screen and (max-width: 1068px) {.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_medium.jpg");}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_medium_2x.jpg");}}
@media only screen and (max-width: 735px) {.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_small.jpg");}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {.section-compare .compare-item-series-3 figure.compare-item-image, .page-overview .section-compare .compare-item-series-3 figure.compare-item-image { background-image:url("img/compare_series_3__c0nwjnnd61g2_small_2x.jpg");}}

body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo {background-image: url("lae/watch/includes/compare-strip/images/compare_logo_series_3__dfpeticrrhw2_large.svg"); } html.no-svg body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo { background-image: url("img/compare_logo_series_3__dfpeticrrhw2_large.png"); } 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {html.no-svg body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo { background-image: url("img/compare_logo_series_3__dfpeticrrhw2_large_2x.png"); } } 
@media only screen and (max-width: 1068px) {body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo {background-image: url("img/compare_logo_series_3__dfpeticrrhw2_medium.png"); } } 
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo { background-image: url("img/compare_logo_series_3__dfpeticrrhw2_medium_2x.png"); } } 
@media only screen and (max-width: 735px) {body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo {background-image: url("img/compare_logo_series_3__dfpeticrrhw2_small.png"); } } 
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {body:not(.theme-dark) .section-compare .compare-item-series-3 .compare-item-logo { background-image: url("img/compare_logo_series_3__dfpeticrrhw2_small_2x.png"); } }

.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-image:url("img/dark_series_4__zkjbenpbl1ee_large.jpg")}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-image:url("img/dark_series_4__zkjbenpbl1ee_large_2x.jpg")}}
@media only screen and (max-width: 1068px){.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-repeat:no-repeat;background-image:url("img/dark_series_4__zkjbenpbl1ee_medium.jpg")}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-image:url("img/dark_series_4__zkjbenpbl1ee_medium_2x.jpg")}}
@media only screen and (max-width: 735px){.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-repeat:no-repeat;background-image:url("img/dark_series_4__zkjbenpbl1ee_small.jpg")}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-4 figure.compare-item-image{background-image:url("img/dark_series_4__zkjbenpbl1ee_small_2x.jpg")}}

.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_large.jpg")}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_large_2x.jpg")}}
@media only screen and (max-width: 1068px){.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_medium.jpg")}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_medium_2x.jpg")}}
@media only screen and (max-width: 735px){.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_small.jpg")}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi){.theme-dark .section-compare .compare-item-series-3 figure.compare-item-image{background-image:url("img/dark_series_3__f04uyu8m822y_small_2x.jpg")}}

.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_large_2x.jpg");}}
@media only screen and (max-width: 1068px) {.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_medium.jpg");}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_medium_2x.jpg");}}
@media only screen and (max-width: 735px) {.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_small.jpg");}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {.theme-dark .section-compare .compare-item-nike figure.compare-item-image { background-image:url("img/dark_nike__f8p2jf8e7mie_small_2x.jpg");}}


